@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:wght@100;300;400;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

a {
    
    text-decoration: none;
}

h3 {
    font-family: 'Hammersmith One', sans-serif;
}

/* header */

header {
    padding: 10px;
}

header ul {
    display: flex;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    margin-left: 20px;
    color:#000;
    transition: .3s;
}

header ul li a:hover {
    color:rgb(21, 116, 111);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 1em;
    font-family: 'Hammersmith One', sans-serif;
}

.dark-mode {
    background: rgb(21, 116, 111);
    color: #fff;
    transition: all ease .3s;
}

.dark-mode-btn {
    background:rgb(21, 116, 111);
    color: #fff;
    width: 40px;
    text-align: center;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: .3s;
    border-radius: 10%;
}

.dark-mode-btn:hover {
    border-radius: 100%;
}

.backgroundBtn {
    background: #fff;
    color:rgb(21, 116, 111);
}

/* header */

/* hero */

.hero {
    
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    color:rgb(151, 203, 255);
}

.hero h3 {
    margin-bottom: 20px;
    color:rgb(173, 91, 255);
}

.hero img {
    height: 180px;
    width: 180px;
}

.hire-btn {
    background-color:rgb(151, 203, 255);
    color: #000;
    padding: 10px;
    border-radius: 25px;
}

.hero .social {
    margin-top: 20px;
}

.hero .social i {
    color: rgb(169, 88, 235);
    transition: .3s;
}

.hero .social i:hover {
    transform: scale(1.5);
}

.hero .social ul {
    display: flex;
    justify-content: center;
}

.hero .social ul li {
    margin-left: 20px;
    list-style-type: none;
}

.image-container {
    margin: 10px auto;
}

/* hero */

/* xp */

.xp {
    text-align: center;
    padding: 20px;
}

.xp h3 {
    padding: 30px;
}

/* xp */

/* toolbox */

.tools {
    padding: 20px;
    text-align: center;
}

.tools h3 {
    padding: 30px;
}

/* toolbox */

/* projects */

.projects {
    padding: 20px;
    text-align: center;
}

.projects h3 {
    padding: 30px;
}

/* projects */

/* testimonials */

.testimonials {
    text-align: center;
    padding: 20px;                                                                                            
}



/* testimonials */

/* footer */
.contact {
    text-align: center;
    padding: 20px;
}

.contact h3 {
    padding: 30px;
}
/* footer */

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#hora {
    font-weight: bold;
    margin-left: 20px;
}
/* footer */